.signup_form{
  background-color: #ADB6B5;
  height: 45vh;
  width: 30vw;

}
input {
  width: 300px;
  margin-top: 15px;
  height: 40px;
}
#submit{
  padding: 10px;
  font-size: 20px;
}
#submit:hover{
  cursor: pointer;
}
